/* global css */
header nav ul a{
  color:black;
  text-decoration: none;
  padding: 0 12px;
}

header nav ul a:hover{
  color:aqua;
}

.btn-purp {

  background-color: purple;
  color: white;
  border: none;
}
.btn-purp:hover {
  color:rgb(208, 167, 226);
  background-color: darkviolet;
}